/********************************************POLICE****************************************************/

/********************************************GENERAL****************************************************/
* {
    box-sizing: border-box;
}
a {
    text-decoration: none;
}
/********************************************HEADER******************************************************/
header {
    display: flex;
    padding: 1%;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    a {
        text-decoration: none;
        color: white;
    }
    h1 {
        color: wheat;
        font-size: 84px;
    }
}
#menuToggle {
    display: none;
}

/********************************************HEADER******************************************************/
/********************************************HEADER******************************************************/
/********************************************HEADER******************************************************/
/********************************************HEADER******************************************************/
/********************************************HEADER******************************************************/

